@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}

@media screen and (min-width: 768px)
{
    main {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }
}

h1 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
    font-family: 'Caveat', cursive;
    font-size: 50px;
}



@media screen and (min-width: 768px)
{
    img {
        width: 40%;
    }
}

.container {
    margin:  auto;
    max-width: 90%;
}

header {
    background-color: #5439CB;
}

.calculator {
    margin: 30px 0;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 35px 9px rgba(209, 209, 209, 1);
    -moz-box-shadow: 0px 0px 35px 9px rgba(209, 209, 209, 1);
    box-shadow: 0px 0px 35px 9px rgba(209, 209, 209, 1);
    text-align: center;
}

.calculator h2 {
    margin: 0 0 30px 0;
    text-align: center;
}

.search-cripto input {
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 10px;
}

.selectors {
    display: flex;
    justify-content: center ;
    align-items: center;
}

.crypto-results {
    max-height: 90px;
    overflow-y: scroll;
}

li#result {
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    display: none;
    list-style: none;
    text-align: start;
}

.result:hover {
    background-color: #C0C2C0;
}

.selectors select {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

input.amount {
    display:block;
    margin: 10px auto;
    padding: 5px;
    width: 30%;
    text-align: center;
}

.swapBtn i {
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #5439CB;
    transform: rotate(90deg);
}

.swapBtn i:hover {
    background-color: #5200BA;
    cursor: pointer;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 30px;
    background-color: #5439CB;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px
}

button:hover {
    background-color: #5200BA;
    cursor: pointer;
}

.results {
    text-align: center;
    color: #5439CB;
}

.error {
    display: none;
    color: red;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    border: solid 2px red;
    padding: 4px;
}

.footer {
    text-align: center;
}

/* SPINNER */
.sk-chase {
    display: none;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #5439CB;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }