@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
    font-family: 'Caveat', cursive;
    font-size: 50px;
}

.container {
    margin: auto;
    max-width: 90%;
}

header {
    background-color: #5439CB;
}

section.quote-section {
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 35px 9px rgba(209, 209, 209, 1);
    -moz-box-shadow: 0px 0px 35px 9px rgba(209, 209, 209, 1);
    box-shadow: 0px 0px 35px 9px rgba(209, 209, 209, 1);
}

.quote-section h2 {
    margin: 0 0 30px 0;
    text-align: center;
}

.search-cripto input {
    width: 100%;
    margin-right: 10px;
    padding: 5px;
}

.crypto-results {
    max-height: 90px;
    overflow-y: scroll;
}

.result {
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    display: none;
}

.result:hover {
    background-color: #C0C2C0;
}

.selectors select {
    display: block;
    margin: 10px auto 0;
    padding: 5px;
    width: 100%;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 30px;
    background-color: #23A649;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px
}

.results {
    text-align: center;
}